<html xmlns:th="https://www.tymeleaf.org">
	
	<body>
		<p> Atzimes: <p>
			<table>
				<tr th:each = "tempC : ${package}">
					<td th:text="${tempC.getTitle()}"></td>
					<td th:text="${tempC.getCp()}"></td>
					
					<td>
						<ul>
							<li>th:each = "tempP: ${tempC.getProfessors()}"</li>
							<span th:text = "${tempP.getName()}"></span>
							<span th:text = "${tempP.getSurname()}"></span>
						</ul>
					
					<td th:text="${tempC.getProfessor().getName()}"></td>
					<td th:text="${tempC.getProfessor().getSurname()}"></td>
				</tr>
			</table>
	</body>

</html>